spring:
 application:
  name: RangoApp
 datasource:
   url: jdbc:postgresql://localhost:5432/tech_challenge
   username: rm_user
   password: rm_pass
   driver-class-name: org.postgresql.Driver

 jpa:
   hibernate:
     ddl-auto: update
     show-sql: true
     properties:
       hibernate:
         format_sql: true
     database-platform: org.hibernate.dialect.PostgreSQLDialect

